body {
    /* 1 - Requisito | Alterado cor de fundo do body */
    background-color: rgb(253, 251, 251); 

}

header#cabecalho {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: royalblue;

}

h1#titulo {
    color: white;
    text-align: center;

}